node_modules
dist/
dist-android/
.vscode
setup-project.sh
.env
.env.prod
.env.test
.env.presentation
prod-data
mongo
mongo_old
uploads
.code-workspace
issued-credentials.csv
archive
teacher-credentials.csv
seeding
evaluation docs
docs/badge-examples/
